<footer>
    <hr>
    <div>
        <div class="row">
            <div class="col">
                <ul class="list-inline">
                    <li class="list-inline-item">Terminos y condiciones</li>
                    <li class="list-inline-item">Politica de tratamiento de datos</li>
                    <li class="list-inline-item">Contactenos</li>
                </ul>
            </div>
            <div class="col">
                <ul class="list-inline rigth">
                    <li class="list-inline-item">Siguenos</li>
                    <i class="fa fa-facebook-square"></i>
                    <i class="fa fa-twitter"></i>
                </ul>
            </div>
        </div>
        
    </div>
</footer>
